<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.13" targetFramework="net45" />
  <package id="Inflector" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Serilog" version="1.4.204" targetFramework="net45" />
  <package id="ShinySwitch" version="1.0.22" targetFramework="net45" />
</packages>